* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: "Montserrat";
    --bg-color: #9a8ae5;
    --chat-color: #dfdded;
    --dark-color: #4c35f3;
}

body,div,ul,li,a,h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

.chat {
    max-width: clamp(300px, 70%, 600px);
    background-color: var(--chat-color);
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 2PX 2PX 6PX #0003;
}

.chat__user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-color);
}

.chat__user img {
    max-width: 2.4rem;
    border-radius: 50%;
    margin: 4px;
}

.chat__content {
    padding: 12px;
}

.msg {
    background-color: var(--bg-color);
    color: #fff;
    font-size: .6rem;
    padding: 7px;
    border-radius: 9px 0px 9px 0;
    position: relative;
    z-index: 20;
    max-width: clamp(300px, 70%, 800px);
    margin: 6px;
    width: fit-content;
}

.msg::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: var(--bg-color);
    bottom: -3px;
    left: -4px;
    clip-path: polygon(43% 0, 0% 100%, 100% 68%);
    z-index: -1;
}

.self {
    background-color: var(--dark-color);
    margin-left: auto;
    border-radius: 0px 9px 0 9px;
}

.self::before {
    background-color: var(--dark-color);
    clip-path: polygon(57% 0%, 100% 100%, 0% 68%);
    bottom: -3px;
    left: auto;
    right: -4px;
}

.msg__enviar {
    text-align: center; /* Mantiene el contenido centrado */
    margin-top: 20px;
}

.msg__enviar input {
    width: 70%; /* Ajusta el ancho del input */
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    display: inline-block; /* Hace que el input y el botón estén uno al lado del otro */
    vertical-align: middle; /* Alinea verticalmente el input con el botón */
}

.msg__enviar .btn-enviar {
    display: inline-block; /* Hace que el botón esté al lado del input */
    padding: 8px;
    background-color: var(--dark-color);
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    vertical-align: middle; /* Alinea el botón con el input */
}

.msg__enviar .btn-enviar:hover {
    background-color: #3a2dc7; /* Cambia de color al pasar el mouse */
}

.material-icons {
    vertical-align: middle;
}

